:root {
  /* Fonts */

  /* Primary Colors */
  --light-purple: #8c52ff;
  --black: #000;
  --white: #fff;

  /* Neutral Colors */
  --dark-blue: #000123;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
  max-width: 1440px;
  min-height: 100dvh;
  background: var(--black);
  color: var(--white);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
