:root {
  /* Fonts */
  --cosmic: 'Cosmic', sans-serif, serif, Roboto;
  --oc-comp: 'Octosquares Compressed', sans-serif, serif, Roboto;
  --oc-con: 'Octosquares Condensed', sans-serif, serif, Roboto;

  /* Primary Colors */
  --light-purple: #8c52ff;
  --black: #000;
  --white: #fff;

  /* Neutral Colors */
  --dark-blue: #000123;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--oc-con);
  margin: 0;
  width: 100%;
  min-height: 100dvh;
  background: var(--black);
  color: var(--white);
}

.width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
}

img {
  width: 100%;
  max-width: 500px;
}

a {
  text-decoration: none;
  color: #fff;
}

.--btn {
  font-size: clamp(1.85rem, 5vw, 2.5rem);
  font-family: var(--oc-comp);
  text-transform: uppercase;
  background: var(--light-purple);
  color: var(--white);
  padding: 0.25em 1em;
  gap: 1.5rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.--oc-comp {
  font-family: var(--oc-comp);
}

.df {
  display: flex;
  align-items: center;
}

.clt__txt {
  color: var(--light-purple);
}

header,
.grad__bg {
  min-height: 100dvh;
  width: 100vw;
}

.para {
  font-size: clamp(1.5rem, 4.5vw, 2rem);
  line-height: 1.6;
}

/* Header Styling */
header {
  background: url(../assets/img/typing.png) center/cover no-repeat;
}

.company__name {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-family: var(--cosmic);
  font-weight: bold;
  display: block;
  max-width: 137px;
}

.heading {
  font-size: clamp(5rem, 12vw, 9vw);
  font-weight: 400;
  max-width: 770px;
  line-height: 1;
  letter-spacing: clamp(2.5px, 7vw, 5px);
  margin: 0.3em 0 0.5em;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  stroke: var(--white);
}

/* Grad__bg section */
.grad__bg {
  background: linear-gradient(180deg, rgb(33, 33, 63) 1%, rgb(0, 1, 29) 100%);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: clamp(3.8rem, 10vw, 6.5rem);
  line-height: 1.05;
  font-weight: normal;
  margin: 0.2em 0 0.5em;
}

.grad__para {
  max-width: 495px;
  margin-bottom: clamp(2.5em, 10vw, 8em);
}

.link__df {
  flex-direction: column;
  text-transform: uppercase;
  font-size: clamp(2rem, 6vw, 2.5rem);
  letter-spacing: 1.5px;
  font-weight: 900;
}
